flows.json
[{"id":"41906457.99743c","type":"tab","label":"Auto AI Flow","disabled":false,"info":"To predict the life expectancy using Auto AI"},{"id":"3a0c4973.ff86c6","type":"function","z":"41906457.99743c","name":"PreToken","func":"global.set(\"co\",msg.payload.co)\nglobal.set(\"ye\",msg.payload.ye)\nglobal.set(\"st\",msg.payload.st)\nglobal.set(\"ad\",msg.payload.ad)\nglobal.set(\"inf\",msg.payload.inf)\nglobal.set(\"al\",msg.payload.al)\nglobal.set(\"pe\",msg.payload.pe)\nglobal.set(\"he\",msg.payload.he)\nglobal.set(\"me\",msg.payload.me)\nglobal.set(\"bm\",msg.payload.bm)\nglobal.set(\"un\",msg.payload.un)\nglobal.set(\"po\",msg.payload.po)\nglobal.set(\"to\",msg.payload.to)\nglobal.set(\"di\",msg.payload.di)\nglobal.set(\"hi\",msg.payload.hi)\nglobal.set(\"gd\",msg.payload.gd)\nglobal.set(\"pop\",msg.payload.pop)\nglobal.set(\"th\",msg.payload.th)\nglobal.set(\"thi\",msg.payload.thi)\nglobal.set(\"inc\",msg.payload.inc)\nglobal.set(\"sc\",msg.payload.sc)\nvar apikey= \"gFGBKp2Yz0WrzBgAaapVYEUQBrvld6Bvge4SUQb5lCRM\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":40,"wires":[["baff5780.768cb8"]]},{"id":"baff5780.768cb8","type":"http request","z":"41906457.99743c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":140,"wires":[["10b4f687.5bff59"]]},{"id":"e97dd2d3.339b1","type":"inject","z":"41906457.99743c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":100,"wires":[["3a0c4973.ff86c6"]]},{"id":"10b4f687.5bff59","type":"function","z":"41906457.99743c","name":"Pre Prediction","func":"var co = global.get('co')\nvar ye = global.get('ye')\nvar st = global.get('st')\nvar ad = global.get('ad')\nvar inf = global.get('inf')\nvar al = global.get('al')\nvar pe = global.get('pe')\nvar he = global.get('he')\nvar me = global.get('me')\nvar bm = global.get('bm')\nvar un = global.get('un')\nvar po = global.get('po')\nvar to = global.get('to')\nvar di = global.get('di')\nvar hi = global.get('hi')\nvar gd = global.get('gd')\nvar pop = global.get('pop')\nvar th = global.get('th')\nvar thi = global.get('thi')\nvar inc = global.get('inc')\nvar sc = global.get('sc')\nvar token=msg.payload.access_token\nvar instance_id=\"a4a8cfa2-cdcf-4784-bb82-1714040a0dd5\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"co\", \"ye\", \"st\", \"ad\", \"inf\", \"al\", \"pe\", \"he\", \"me\", \"bm\", \"un\", \"po\", \"to\", \"di\", \"hi\", \"gd\", \"pop\", \" th\", \" thi\", \"inc\", \"sc\"], \"values\": [[co,ye,st,ad,inf,al,pe,he,me,bm,un,po,to,di,hi,gd,pop,th,thi,inc,sc]]}]};\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":240,"wires":[["59e8fd40.e962e4"]]},{"id":"59e8fd40.e962e4","type":"http request","z":"41906457.99743c","name":"","method":"POST","ret":"obj","paytoqs":true,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/f2fc593c-fa6a-433c-8ceb-4d132d9e72ea/predictions","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":200,"wires":[["78761dbc.6f1544"]]},{"id":"7cb909e.27b42f8","type":"ui_form","z":"41906457.99743c","name":"","label":"","group":"c37b24a4.61e308","order":2,"width":0,"height":0,"options":[{"label":"Country","value":"co","type":"text","required":true,"rows":null},{"label":"Year","value":"ye","type":"number","required":false,"rows":null},{"label":"Status","value":"st","type":"text","required":false,"rows":null},{"label":"Adult Mortality","value":"ad","type":"number","required":false,"rows":null},{"label":"infant deaths","value":"inf","type":"number","required":false,"rows":null},{"label":"Alcohol","value":"al","type":"number","required":false,"rows":null},{"label":"percentage expenditure","value":"pe","type":"number","required":false,"rows":null},{"label":"Hepatitis B","value":"he","type":"number","required":false,"rows":null},{"label":"Measles","value":"me","type":"number","required":false,"rows":null},{"label":"BMI","value":"bm","type":"number","required":false,"rows":null},{"label":"under-five deaths","value":"un","type":"number","required":false,"rows":null},{"label":"Polio","value":"po","type":"number","required":false,"rows":null},{"label":"Total expenditure","value":"to","type":"number","required":false,"rows":null},{"label":"Diphtheria","value":"di","type":"number","required":false,"rows":null},{"label":"HIV/AIDS","value":"hi","type":"number","required":false,"rows":null},{"label":"GDP","value":"gd","type":"number","required":false,"rows":null},{"label":"Population","value":"pop","type":"number","required":false,"rows":null},{"label":"thinness 1-19 years","value":"th","type":"number","required":false,"rows":null},{"label":"thinness 5-9 years","value":"thi","type":"number","required":false,"rows":null},{"label":"Income composition of resources","value":"inc","type":"number","required":false,"rows":null},{"label":"Schooling","value":"sc","type":"number","required":false,"rows":null}],"formValue":{"co":"","ye":"","st":"","ad":"","inf":"","al":"","pe":"","he":"","me":"","bm":"","un":"","po":"","to":"","di":"","hi":"","gd":"","pop":"","th":"","thi":"","inc":"","sc":""},"payload":"","submit":"PREDICT","cancel":"CANCEL","topic":"","x":110,"y":320,"wires":[["3a0c4973.ff86c6"]]},{"id":"9df7d988.0b3eb8","type":"debug","z":"41906457.99743c","name":"Value","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":180,"wires":[]},{"id":"38725345.643c6c","type":"ui_text","z":"41906457.99743c","group":"c37b24a4.61e308","order":1,"width":0,"height":0,"name":"","label":"Predicted value : ","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":460,"wires":[]},{"id":"78761dbc.6f1544","type":"function","z":"41906457.99743c","name":"","func":"msg.payload= msg.payload.predictions[0].values[0][0]\nreturn msg;\n","outputs":1,"noerr":0,"x":630,"y":340,"wires":[["38725345.643c6c","9df7d988.0b3eb8"]]},{"id":"c37b24a4.61e308","type":"ui_group","z":"","name":"Predicting Life Expectancy","tab":"40ebe584.c0dc7c","order":1,"disp":true,"width":"6","collapse":false},{"id":"40ebe584.c0dc7c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]